# helm repo add traefik https://traefik.github.io/charts
# helm repo update
#
# helm install traefik traefik/traefik -n traefik --create-namespace -f values.yaml
service:
  type: LoadBalancer

ports:
  web:
    port: 80
  websecure:
    port: 443

ingressRoute:
  dashboard:
    enabled: true

logs:
  general:
    level: INFO